.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* added a light gray background */
}

#MainForm {
    max-width: 400px; /* increased the width for better readability */
    width: 100%;
    padding: 40px; /* increased the padding for better spacing */
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* added to center the button */
}

.form-floating {
    margin-bottom: 20px; /* decreased the margin for better spacing */
}

.form-floating input[type="text"],
.form-floating input[type="number"] {
    width: calc(100% - 20px);
    height: 40px; /* decreased the height for better readability */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 18px; /* decreased the font size for better readability */
    box-sizing: border-box;
}

button[type="submit"] {
    height: 40px; /* decreased the height for better readability */
    border-radius: 5px;
    background-color: #337ab7;
    color: #fff;
    font-size: 18px; /* decreased the font size for better readability */
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 20px auto; /* added to center the button */
    display: block;
    position: relative;
    top: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    padding: 0 20px; /* decreased the padding to make the buttons smaller */
    font-weight: bold; /* added bold font weight for better readability */
}

button[type="submit"]:focus {
    outline: none;
}

button[type="submit"]:hover {
    background-color: #23527c;
}

button[type="submit"]:active {
    background-color: #1d4f7c;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#downloadButton {
    height: 40px; /* decreased the height for better readability */
    border-radius: 5px;
    background-color: #337ab7; /* same as the submit button */
    color: #fff;
    font-size: 18px; /* decreased the font size for better readability */
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease;
    margin: 20px auto; /* added to center the button */
    display: block;
    position: relative;
    top: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-10px);
    padding: 0 20px; /* decreased the padding to make the buttons smaller */
    font-weight: bold; /* added bold font weight for better readability */
}

#downloadButton:focus {
    outline: none;
}

#downloadButton:hover {
    background-color: #23527c; /* slightly darker shade for hover effect */
}

#downloadButton:active {
    background-color: #1d4f7c; /* slightly darker shade for active effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
